@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Devin Gleason Lambert</h3>

<address>
    26 High St<br />
    Rockport, MA 01966<br />
    <abbr title="Phone">P:</abbr>
    781 462 5615
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:dglambert@outlook.com">dglambert@outlook.com</a><br />
</address>